# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
(-)
(/)
(+)
6

In [ ]:
"hello" ---> VALUE
87.8 ----> VALUE
(-)-----> EXPRESSION
(+)-----> EXPRESSION
(/)-----> EXPRESSION
6-------> VALUE

# 2. What is the difference between string and variable?

In [ ]:
Variable is an empty entity that we create to store data in our program.
Strings are the entity that we store in a variable. These are some alphabetical or numerical characters enclosed within quotes("",'').

for example-
var= "This is a string"

here "This is a string" is a STRING
and var is the VARIABLE in which we stored the string so that it can be called upon as per the requirement.

# 3. Describe three different data types.

In [ ]:
Three different types of data type:-
        i.) INTEGER- These are the numbers without any decimals (both positive and negative numbers)
        ii.) FLOATING POINT NUMBER- These are the decimal numbers may it be negative or positive. It is characterized by a decimal point.
        iii.) STIRNGS- These are the alphabetical or numerical characters which are characterized by being enclosed within quotes ( both single quotes and double quotes).

# 4. What is an expression made up of? What do all expressions do?

In [ ]:
An expression is made up of operators(+,-,/,*) and values. 
These expressions perform the operations specified by the operators and values and give us a final result.


# 5.This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [ ]:
Statements execute an action or command whereas Expressions evaluates the specified values and operators to have a final result.
The statements may or may not give a result but Expressions always produces a value.

for ex-
        spam = 10
        print (spam)   #this is an assignment statement which gives us the result as it is.
    
        sam= 10
        new_spam= spam + 10
        print (new_spam)        #this is an expression as the output is an evaluation of the operators and the values.

# 6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [1]:
bacon = 22
bacon + 1
bacon

22

In [ ]:
the variable bacon contains the same value 22 , because the expression bacon+1 isn't assigned to bacon again which would have given the variable bacon a avlue of 23.

# 7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [2]:
'spam' + 'spamspam'

'spamspamspam'

In [3]:
'spam' * 3

'spamspamspam'

# 8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
eggs is a valid variable name as it starts with a letter
100 is invalid because the very first character of a varaible must be an underscore(_) or a letter.

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [ ]:
int(), float(), str() can be used to get the integer, floating-point number, or string version of a value respectively.

# 10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [ ]:
'I have eaten ' + 99 + ' burritos.'
this gives an error because among the strings there is an integer data type present and only strings can be concatenated together.
Therefore the following modifications can be done to fix it :-

In [6]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'

In [7]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'